
@{
    ViewData["Title"] = "Error404 - Pagina no encontrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Error404 - Pagina no encontrada</h1>

<p>Lo sentimos, la página que estás buscando no se ha encontrado.</p>

